@using System.Dynamic
@model ShareMe.ViewModels.PhotoViewModels.PhotoDetailsViewModel

@{
	ViewData["Title"] = "Details";
}

<div class="row m-t-40">
	<div class="col col-md-6">

		<img class="details-img" src="@Model.Photo.Url" alt="photo" />

		<div class="m-t-10">
			<a id="like" style="cursor: pointer">
				<i id="like-img" class="fa fa-heart" @(Model.Liked ? "liked" : "")
				   style="color: @(Model.Liked ? "red" : "black")"></i>
			</a>
			<span id="likes">@Model.LikesCount</span>
		</div>
	</div>
	<div class="col col-md-6">
		<div class="row">
			<div class="col col-md-6">
				@{
					var viewModel = new FollowingViewModel
					{
						Following = Model.Following,
						FolloweeId = Model.Photo.UserId
					};

				}
				@if (!Model.IsCreator)
				{
					@Html.Partial("_FollowPartial", viewModel)
				}
			</div>
			<div class="col col-md-6">
				@Model.Photo.User.UserName
			</div>
		</div>
		<div>@Model.Photo.Description</div>
		<div class="comment-section">
			<input type="text" name="comment" id="comment" placeholder="Kek"  />
		</div>
	</div>
</div>


@section Scripts {
	<script src="~/js/site.min.js" asp-append-version="true"></script>
	<script>
		$(document).ready(() => {
			$("#like").click(() => {
				var likeImg = $("#like-img");
				if ($(likeImg)[0].hasAttribute("liked")) {
					$.ajax({
							url: "/api/photos/dislike/@Model.Photo.Id",
							method: "DELETE"
						})
						.done(() => {
							var count = parseInt($("#likes").html());
							$("#likes").html(count - 1);
							$(likeImg).removeAttr("liked");
							$(likeImg).css("color", "black");
						})
						.fail(() => console.log("fail"));
				} else {
					$.post("/api/photos/like/@Model.Photo.Id")
						.done(() => {
							var count = parseInt($("#likes").html());
							$("#likes").html(count + 1);
							$(likeImg).attr("liked", "1");
							$(likeImg).css("color", "red");
						})
						.fail(() => console.log("fail"));
				}
			});
			PhotoDetailsController.init();
		});
	</script>
}

