@model ShareMe.ViewModels.PhotoViewModels.PhotoDetailsViewModel
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
	ViewData["Title"] = "Details";
}

<div class="details-content m-t-40">
	<div class="details-left">

		<div class="photo-container" style="background-image: url(@Model.Photo.Url)" alt="photo"></div>

		<div class="m-t-10">
			<a id="like" style="cursor: pointer">
				<i id="like-img" class="fa fa-heart fa-2x" @(Model.Liked ? "liked" : "")
				   style="color: @(Model.Liked ? "red" : "black")">
				</i>
			</a>
			<span id="likes">@Model.LikesCount</span>
		</div>
	</div>
	<div class="details-right">
		<div class="row">
			<div class="col col-md-6">
				@{
					var viewModel = new FollowingViewModel
					{
						Following = Model.Following,
						FolloweeId = Model.Photo.UserId
					};
				}
				@if (!Model.IsCreator)
				{
					@Html.Partial("_FollowPartial", viewModel)
				}
			</div>
			<div class="col col-md-6 text-right">
				<a asp-controller="Photos" asp-action="UserPhotos" asp-route-userName="@Model.Photo.User.UserName">
					<span>@Model.Photo.User.UserName</span>
				</a>
			</div>
		</div>
		<div>@Model.Photo.Description</div>
		<div class="comment-section">

			<input type="text" id="comment" placeholder="Wow! ..."/>

		</div>
		<div id="comments" style="background-color: white; margin-top: 10px; border-radius: 20px; padding: 20px">
			@Html.Partial("_Comments", Model.Photo.Comments)
		</div>
	</div>
</div>

<div id="data" data-photo-id="@Model.Photo.Id"></div>

<div class="modal fade" id="myModal">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<h4 class="modal-title" id="modal-header">Guys</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<div class="modal-body" id="modal-content">

			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>

		</div>
	</div>
</div>


@section Scripts {
	<script src="~/js/site.min.js" asp-append-version="true"></script>
	<script>
		$(document).ready(() => {
			$("#comment").keydown(e => {
				if (e.which === 13) {
					$.post("/api/photos/comment",
							{
								message: $("#comment").val(),
								commenterId: "@Model.UserId",
								photoId: "@Model.Photo.Id"
							})
						//will append only last
						.done(() =>
							$.get("/@Model.Photo.Id/comments/")
							.done(response => $("#comments").html(response)))
						.fail(() => console.log("fail"));
				}

			});
			PhotoDetailsController.init();
		});
	</script>
}