@model ShareMe.ViewModels.PhotoViewModels.PhotoDetailsViewModel

@{
	ViewData["Title"] = "Details";
}

<div class="row m-t-40">
	<div class="col col-md-6">
		
		<img class="details-img" src="@Model.Photo.Url" alt="photo" />
		
		<div class="m-t-10">
			<a id="like" style="cursor: pointer">
				<i id="like-img" class="fa fa-heart" @(Model.Liked ? "liked" : "") 
				   style="color: @(Model.Liked ? "red" : "black")"></i>
			</a>
			<span id="likes">@Model.LikesCount</span>
		</div>
	</div>
	<div class="col col-md-6">
		<div class="row">
			<div class="col col-md-6">
				@if (!Model.Following)
				{
					<button id="follow" data-user-id="@Model.Photo.UserId" class="btn btn-info">Follow</button>
				}
				else
				{
					<button id="follow" data-user-id="@Model.Photo.UserId" class="btn btn-default">Following</button>
				}
			</div>
			<div class="col col-md-6">
				@Model.Photo.User.UserName
			</div>
		</div>
		<div>@Model.Photo.Description</div>
		<hr />
		<div class="form-group">
			<label for="comment">Comment</label>
			<input type="text" name="comment" id="comment" class="form-control" />
			<button type="submit" class="btn btn-primary" id="commentButton">Comment</button>
		</div>
	</div>
</div>


@section Scripts {
	<script>
		$(document).ready(() => {
			$("#like").click(() => {
				var likeImg = $("#like-img");
				if ($(likeImg)[0].hasAttribute("liked")) {
					$.ajax({
							url: "/api/photos/dislike/@Model.Photo.Id",
							method: "DELETE"
						})
						.done(() => {
							var count = parseInt($("#likes").html());
							$("#likes").html(count - 1);
							$(likeImg).removeAttr("liked");
							$(likeImg).css("color", "black");
						})
						.fail(() => console.log("fail"));
				} else {
					$.post("/api/photos/like/@Model.Photo.Id")
						.done(() => {
							var count = parseInt($("#likes").html());
							$("#likes").html(count + 1);
							$(likeImg).attr("liked", "1");
							$(likeImg).css("color", "red");
						})
						.fail(() => console.log("fail"));
				}
			});
			$("#follow").click(e => {
				var button = $(e.target);
				var followeeId = button.attr("data-user-id");
				if (button.hasClass("btn-info")) {
					$.post("/api/followings/add/" + followeeId)
						.done(() => button.toggleClass("btn-info").toggleClass("btn-default").text("Following"))
						.fail(() => "fail");
				} else {
					$.ajax({
							url: "/api/followings/delete/" + followeeId,
							method: "DELETE"
						})
						.done(() => button.toggleClass("btn-info").toggleClass("btn-default").text("Follow"))
						.fail(() => "fail");;
				}
			});
		});
	</script>
}

